<H1>Vert</H1>

<p><%= @path %></p>


<table class="table table-striped table-hover table-condensed ">
  <tbody>
    <% @files.each do |name| %>
      <tr>
        <td>
          <a href="/vert/<%= ERB::Util.url_encode("#{@path}/#{File.basename(name)}") %>"><%= name %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', "/vert/new/#{ERB::Util.url_encode(@path)}" %> |
