<h1>New vert</h1>

<%= form_tag('/vert', :method => :post, :class => 'form-inline') do |f| %>
  <%= render 'form' %>
  <div class="actions">
    <%= submit_tag "追加", :class => 'btn btn-primary btn-sm' %>
  </div>
<% end %>

<%= link_to 'Back', "/vert/index/#{ERB::Util.url_encode(@path)}" %>
