<h1>Vert#show</h1>

<p><%= @path_f %></p>

<%= markdown(@body) %>

<%= link_to 'Edit', "/vert/edit/#{ERB::Util.url_encode(@path_f)}" %> |
<%= link_to 'Back', "/vert/index/#{ERB::Util.url_encode(@path)}" %>
